{% extends 'admin.html.twig' %}

{% block title %}Catégorie&nbsp;: {{ recipe_category.name }}{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshrouded', 'Recettes', 'Catégories', 'Afficher']} %}

    <h1>Catégorie&nbsp;: {{ recipe_category.name }}</h1>

    <table class="table rounded-lg shadow w-full my-4">
        <tbody>
            <tr>
                <th width="1">Id</th>
                <td>{{ recipe_category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recipe_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="flex gap-4 justify-between">
        <a href="{{ path('app_admin_enshrouded_recipe_category_edit', {'id': recipe_category.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('app_admin_enshrouded_recipe_category_index') }}" class="btn btn-outline">Retourner à la liste</a>
    </div>

    {{ include('admin/enshrouded/recipe_category/_delete_form.html.twig') }}
{% endblock %}
