{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Palia</li>
            <li><a href="{{ path('app_admin_palia_items') }}">Objets</a></li>
            <li>{{ (item.id)?'Modifier':'Ajouter' }}</li>
        </ul>
    </div>

    <h1 class="flex flex-start justify-start gap-4 pl-1 items-center mt-2">
        {% if item.id %}
            {% if item.icon %}
                <div class="avatar rarity--palia-{{ item.rarity }}">
                    <div class="rounded ring ring-offset-base-100 ring-offset-2 w-12 h-12">
                        <img src="{{ vich_uploader_asset(item) }}" />
                    </div>
                </div>
            {% endif %}
            Modifier&nbsp;: {{ item.name }}
        {% else %}
            Ajouter un objet
        {% endif %}

    </h1>

    {{ form_start(form) }}

        <div class="grid grid-cols-5 gap-4">
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.rarity) }}
        </div>

        {{ form_row(form.description) }}

        <div class="grid grid-cols-4 gap-4">
            {{ form_row(form.priceBase) }}
            {{ form_row(form.priceQuality) }}
            {{ form_row(form.focus) }}
            {{ form_row(form.focusQuality) }}
        </div>

        {{ form_row(form.comment) }}
        {{ form_row(form.iconFile) }}

    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

{% endblock %}