{% extends 'admin.html.twig' %}

{% block title %}Objets{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshourded', 'Objets']} %}

    <div class="flex gap-4 justify-between items-center mb-4">
        <h1 class="mb-0">Objets</h1>
        <a href="{{ path('app_admin_enshrouded_item_new') }}" class="btn btn-primary">Ajouter</a>
    </div>

    <form method="get" class="flex gap-2 mb-4">
        <input type="text" class="input input-bordered input-sm" name="s" value="{{ s }}" placeholder="Chercher...">
        <button type="submit" class="btn btn-sm btn-square">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
            </svg>
        </button>
    </form>

    <table class="table rounded-lg shadow w-full my-4">
        <thead>
            <tr>
                <th width="1">Id</th>
                <th>Objet</th>
                <th width="1">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td class="enshrouded-quality-{{ item.quality }}">
                    <div class="flex items-center space-x-4">
                        {% if item.icon %}
                            <div class="avatar">
                                <div class="rounded ring ring-offset-base-100 ring-offset-2 w-12 h-12">
                                    <img src="{{ vich_uploader_asset(item) }}" />
                                </div>
                            </div>
                        {% endif %}
                        <div>
                            <div class="font-bold my-1">{{ item.name }}</div>
                            <div class="flex flex-wrap gap-1">
                                <span class="badge badge-sm badge-primary">{{ item.category.name }}</span>
                                {% if item.level %}<span class="badge badge-sm badge-secondary">Niv. {{ item.level }}</span>{% endif %}
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="flex gap-3">
                        <a href="{{ path('app_admin_enshrouded_item_show', {'id': item.id}) }}" class="btn btn-sm btn-primary btn-outline btn-square">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </a>
                        <a href="{{ path('app_admin_enshrouded_item_edit', {'id': item.id}) }}" class="btn btn-sm btn-primary btn-outline btn-square">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun objet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(items) }}
{% endblock %}
