{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        <div class="card bg-base-100 shadow-sm max-w-md mx-auto">
            <div class="card-body">
                <h1 class="card-title">Modifier mon mot de passe</h1>


                {{ form_label(resetForm.plainPassword.first, 'Nouveau mot de passe', {label_attr: {class: 'label'}}) }}
                {{ form_widget(resetForm.plainPassword.first, {attr: {class: 'input w-full'}}) }}
                {{ form_errors(resetForm.plainPassword.first) }}

                {{ form_label(resetForm.plainPassword.second, 'Répéter le mot de passe', {label_attr: {class: 'label'}}) }}
                {{ form_widget(resetForm.plainPassword.second, {attr: {class: 'input w-full'}}) }}
                {{ form_errors(resetForm.plainPassword.second) }}

                <button class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
