{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Guild Wars 2</li>
            <li><a href="{{ path('app_admin_gw2_items') }}">Objets</a></li>
            <li>{{ (item.id)?'Modifier':'Ajouter' }}</li>
        </ul>
    </div>

    <h1 class="flex flex-start justify-start gap-4 pl-1 items-center mt-2">
        <div class="avatar rarity--{{ item.rarity }}">
            <div class="rounded ring ring-offset-base-100 ring-offset-2 w-12 h-12">
                <img src="/uploads/api/gw2/items/{{ item.uid }}.png" />
            </div>
        </div>
        Modifier&nbsp;: {{ item.name }}
    </h1>

    {{ form_start(form) }}

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.blackmarket) }}
                {{ form_label(form.blackmarket) }}
            </label>
        </div>

        <div class="form-control">
            <label class="label">
                {{ form_label(form.inventoryManagerTip) }}
            </label>
            {{ form_widget(form.inventoryManagerTip, {attr: {class: 'textarea textarea-bordered'}}) }}
            <label class="label">
                {{ form_help(form.inventoryManagerTip) }}
            </label>
        </div>

        <div class="form-control">
            <label class="label">
                {{ form_label(form.obteningTip) }}
            </label>
            {{ form_widget(form.obteningTip, {attr: {class: 'textarea textarea-bordered'}}) }}
            <label class="label">
                {{ form_help(form.obteningTip) }}
            </label>
        </div>

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.isFish, {attr: {checked: ((item.fish) ? true : false)}}) }}
                {{ form_label(form.isFish) }}
            </label>
        </div>

        <div id="fishFields" class="hidden border border-secondary rounded-lg bg-white p-6 mb-6">
            <h2>Poisson</h2>
            <div class="grid grid-cols-4 gap-4">
                <div class="form-control">
                    <label class="label">{{ form_label(form.fish.power) }}</label>
                    {{ form_widget(form.fish.power) }}
                </div>
                <div class="form-control">
                    <label class="label">{{ form_label(form.fish.bait) }}</label>
                    {{ form_widget(form.fish.bait) }}
                </div>
            </div>

            <div class="grid grid-cols-2 gap-4">
                <div class="form-control">
                    <label class="label">{{ form_label(form.fish.achievement) }}</label>
                    {{ form_widget(form.fish.achievement) }}
                </div>
                <div class="form-control">
                    <label class="label">{{ form_label(form.fish.specialization) }}</label>
                    {{ form_widget(form.fish.specialization) }}
                </div>
            </div>

            <div class="form-control">
                <label class="cursor-pointer label justify-start gap-2">
                    {{ form_widget(form.fish.strangeDiet) }}
                    {{ form_label(form.fish.strangeDiet) }}
                </label>
            </div>

            <div class="form-control">
                <label class="cursor-pointer label justify-start gap-2">
                    {{ form_widget(form.fish.baitAny) }}
                    {{ form_label(form.fish.baitAny) }}
                </label>
            </div>

            {{ form_row(form.fish.fishHoles) }}
            {{ form_row(form.fish.add_hole) }}

            {{ form_row(form.fish.fishTimes) }}
            {{ form_row(form.fish.add_time) }}
        </div>

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.isFishBait, {attr: {checked: ((item.bait) ? true : false)}}) }}
                {{ form_label(form.isFishBait) }}
            </label>
        </div>

        <div id="fishBaitFields" class="hidden border border-secondary rounded-lg bg-white p-6 mb-6">
            <h2>Appât</h2>
            <div class="form-control">
                <label class="label">{{ form_label(form.bait.power) }}</label>
                {{ form_widget(form.bait.power) }}
            </div>
        </div>

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.isDecoration, {attr: {checked: ((item.decoration) ? true : false)}}) }}
                {{ form_label(form.isDecoration) }}
            </label>
        </div>

        <div id="decorationFields" class="hidden border border-secondary rounded-lg bg-white p-6 mb-6">
            <h2>Décoration</h2>
            <div class="form-control">
                <label class="label">{{ form_label(form.decoration.type) }}</label>
                {{ form_widget(form.decoration.type) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.decoration.category, 'Catégorie') }}</label>
                {{ form_widget(form.decoration.category, {attr: {class: 'select select-bordered w-full'}}) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.decoration.thumbnailFile) }}</label>
                {{ form_widget(form.decoration.thumbnailFile) }}
            </div>
        </div>

        <div class="mt-4">
            {{ form_row(form.submit) }}
        </div>

        {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const isFish = document.querySelector('input#item_isFish');
        const fishFields = document.getElementById('fishFields');

        const isFishBait = document.querySelector('input#item_isFishBait');
        const fishBaitFields = document.getElementById('fishBaitFields');

        const isDecoration = document.querySelector('input#item_isDecoration');
        const decorationFields = document.getElementById('decorationFields');

        function handleFishFields() {
            if(isFish.checked) {
                fishFields.classList.remove('hidden');
                isFishBait.checked = false;
                isDecoration.checked = false;
                handleFishBaitFields();
                handleDecorationFields();
            } else {
                fishFields.classList.add('hidden');
            }
        }

        function handleFishBaitFields() {
            if(isFishBait.checked) {
                fishBaitFields.classList.remove('hidden');
                isFish.checked = false;
                isDecoration.checked = false;
                handleFishFields();
                handleDecorationFields()
            } else {
                fishBaitFields.classList.add('hidden');
            }
        }

        function handleDecorationFields() {
            if(isDecoration.checked) {
                decorationFields.classList.remove('hidden');
                isFish.checked = false;
                isFishBait.checked = false;
                handleFishFields();
                handleFishBaitFields();
            } else {
                decorationFields.classList.add('hidden');
            }
        }

        handleFishFields();
        handleFishBaitFields();
        handleDecorationFields();

        isFish.addEventListener('change', (e) => {
            handleFishFields();
        });

        isFishBait.addEventListener('change', (e) => {
            handleFishBaitFields();
        });

        isDecoration.addEventListener('change', (e) => {
            handleDecorationFields();
        });
    </script>
{% endblock %}