{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Genshin Impact</li>
            <li>Carte interactive</li>
            <li><a href="{{ path('app_admin_genshin_maps_markers_import') }}">Importer</a></li>
        </ul>
    </div>

    <h1>Importer</h1>

    {{ form_start(form) }}
        <div class="form-control">
            <label class="label">{{ form_label(form.map) }}</label>
            {{ form_widget(form.map) }}
        </div>
        <div class="form-control">
            <label class="label">{{ form_label(form.group) }}</label>
            {{ form_widget(form.group) }}
        </div>
        <div class="form-control">
            <label class="label">{{ form_label(form.title) }}</label>
            {{ form_widget(form.title) }}
            <label class="label">
                <span class="label-text-alt">Utilisez ## pour remplacer par le numéro du marqueur</span>
            </label>
        </div>
        <div class="form-control">
            <label class="label">{{ form_label(form.data) }}</label>
            {{ form_widget(form.data) }}
        </div>
        <div class="mt-4">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
