{% extends 'base.html.twig' %}

{% block body %}

    <div class="navbar bg-base-100 shadow-sm container mx-auto mb-4 rounded p-3">
        <div class="flex-1">
            <a class="flex gap-3 items-center" href="{{ path('app_homepage') }}">
                <img src="{{ asset('img/logo-192.png') }}" class="size-16 rounded" alt="">
                <span class="text-xl font-bold">Le Bus Magique</span>
            </a>
        </div>
        <div class="flex gap-3 items-center">
            {% if is_granted('ROLE_MANAGER') %}
                <a class="btn btn-square btn-neutral" href="{{ path('admin') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-dashboard size-6"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 13a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M13.45 11.55l2.05 -2.05" /><path d="M6.4 20a9 9 0 1 1 11.2 0l-11.2 0" /></svg>
                </a>
            {% endif %}
            <a class="btn btn-square btn-error" href="{{ path('app_logout') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-power size-5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 6a7.75 7.75 0 1 0 10 0" /><path d="M12 4l0 8" /></svg>
            </a>
        </div>
    </div>

    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="bg-base-100 rounded shadow-sm flex items-center p-3 gap-x-3 leading-none">
            <img src="{{ app.user.avatar }}" class="size-16 rounded" alt="">
            <div>
                <div class="text-sm text-base-content/50">Bonjour</div>
                <div class="font-semibold">{{ app.user.nickname }}</div>
            </div>
        </div>
        <div class="bg-base-100 rounded shadow-sm flex items-center p-3 gap-x-3 leading-none">
            <div class="size-16 shrink-0 bg-secondary text-secondary-content rounded flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-login-2 size-8"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" /><path d="M3 12h13l-3 -3" /><path d="M13 15l3 -3" /></svg>
            </div>
            <div>
                <div class="text-sm text-base-content/50">Dernière connexion</div>
                <div class="font-semibold">{{ app.user.lastLoginAt|format_datetime('long', 'short') }}</div>
            </div>
        </div>
        <div class="bg-base-100 rounded shadow-sm flex items-center p-3 gap-x-3 leading-none">
            <div class="size-16 shrink-0 bg-secondary text-secondary-content rounded flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cake size-8"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8" /><path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197" /><path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737" /></svg>
            </div>
            <div>
                <div class="text-sm text-base-content/50">Création du compte</div>
                <div class="font-semibold">{{ app.user.createdAt|format_datetime('long', 'short') }}</div>
                {% if not is_granted('ROLE_MANAGER') %}
                    <button class="btn btn-xs btn-primary mt-1" onclick="user_account_delete.showModal()">Supprimer mon compte</button>
                {% endif %}
            </div>
        </div>
        <div class="spacer hidden sm:block"></div>

        <!-- Genshin -->
        <div class="bg-base-100 rounded shadow-sm flex items-center p-3 gap-x-3 leading-none relative">
            <img src="{{ asset('img/genshin-impact.webp') }}" class="absolute top-0 left-0 h-full w-full object-cover z-10 rounded" alt="">
            <div class="z-20 absolute top-0 left-0 h-full w-full bg-linear-to-t from-base-100/90 via-base-100/60 to-base-100/0"></div>
            <div class="flex items-end min-h-16 relative z-30">
                <div class="font-semibold">Genshin Impact</div>
            </div>
        </div>
        <div class="bg-base-100 rounded shadow-sm flex items-center p-3 gap-x-3 leading-none">
            <div class="size-16 shrink-0 bg-secondary text-secondary-content rounded flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin size-8"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0" /></svg>
            </div>
            <div>
                <div class="text-sm text-base-content/50">Carte interactive</div>
                <div class="font-semibold">{{ 'Genshin.Map.User.Markers.Count'|trans({'%count%': genshin_map_user_markers}) }}</div>
                {% if genshin_map_user_markers > 0 %}
                    <button class="btn btn-xs btn-primary mt-1" onclick="genshin_impact_map_markers_reset_confirm.showModal();">Réinitialiser</button>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- Genshin Impact Marker Reset Modal -->
    {% if genshin_map_user_markers > 0 %}
        <dialog id="genshin_impact_map_markers_reset_confirm" class="modal">
            <div class="modal-box">
                <h3 class="text-lg font-bold">Réinitialiser les marqueurs</h3>
                <p class="py-4">Merci de confirmer que vous souhaitez réinitialiser le suivi de vos marqueurs de notre carte interactive de Genshin Impact.<br />
                    <strong class="text-error">Cette action est irreversible&nbsp;!</strong></p>
                <div class="modal-action justify-between">
                    <a href="{{ path('app_user_genshin_map_markers_reset') }}" class="btn btn-primary">Réinitialiser</a>
                    <form method="dialog">
                        <button class="btn">Annuler</button>
                    </form>
                </div>
            </div>
        </dialog>
    {% endif %}

    <!-- User Delete Account Modal -->
    {% if not is_granted('ROLE_MANAGER') %}
        <dialog id="user_account_delete" class="modal">
            <div class="modal-box">
                <h3 class="text-lg font-bold">Supprimer mon compte</h3>
                <p class="py-4">Merci de confirmer que vous souhaitez supprimer votre compte.<br />
                    <strong class="text-error">Cette action est irreversible&nbsp;!</strong></p>
                <div class="modal-action justify-between">
                    <a href="{{ path('app_user_account_delete') }}" class="btn btn-primary">Supprimer mon compte</a>
                    <form method="dialog">
                        <button class="btn">Annuler</button>
                    </form>
                </div>
            </div>
        </dialog>
    {% endif %}
{% endblock %}