{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Palia</li>
            <li><a href="{{ path('app_admin_palia_recipes') }}">Recettes</a></li>
            <li>{{ (recipe.id)?'Modifier':'Ajouter' }}</li>
        </ul>
    </div>

    <h1 class="flex flex-start justify-start gap-4 pl-1 items-center mt-2">
        {% if recipe.item %}
            {% if recipe.item.icon %}
                <div class="avatar rarity--palia-{{ recipe.item.rarity }}">
                    <div class="rounded ring ring-offset-base-100 ring-offset-2 w-12 h-12">
                        <img src="{{ vich_uploader_asset(recipe.item) }}" />
                    </div>
                </div>
            {% endif %}
            Modifier&nbsp;: {{ recipe.item.name }}
        {% else %}
            Ajouter une recette
        {% endif %}

    </h1>

    {{ form_start(form) }}

        <div class="grid grid-cols-4 gap-4">
            {{ form_row(form.item) }}
            {{ form_row(form.quantity) }}
        </div>
        <div class="grid grid-cols-4 gap-4">
            {{ form_row(form.workshop) }}
            {{ form_row(form.craftTime) }}
        </div>

        {{ form_row(form.skill) }}
        {{ form_row(form.ingredients) }}
        {{ form_row(form.add_ingredient) }}

    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}