{% extends 'admin.html.twig' %}

{% block title %}Blacklist index{% endblock %}

{% block body %}
    <h1>Blacklist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AccountName</th>
                <th>Reason</th>
                <th>Comment</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blacklist in blacklists %}
            <tr>
                <td>{{ blacklist.id }}</td>
                <td>{{ blacklist.accountName }}</td>
                <td>{{ blacklist.reason }}</td>
                <td>{{ blacklist.comment }}</td>
                <td>{{ blacklist.createdAt ? blacklist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_lbm_ticket_blacklist_show', {'id': blacklist.id}) }}">show</a>
                    <a href="{{ path('app_admin_lbm_ticket_blacklist_edit', {'id': blacklist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_lbm_ticket_blacklist_new') }}">Create new</a>
{% endblock %}
