{% extends 'admin.html.twig' %}

{% block title %}Blacklist{% endblock %}

{% block body %}
    <h1>Blacklist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blacklist.id }}</td>
            </tr>
            <tr>
                <th>AccountName</th>
                <td>{{ blacklist.accountName }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ blacklist.reason }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ blacklist.comment }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ blacklist.createdAt ? blacklist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_lbm_ticket_blacklist_index') }}">back to list</a>

    <a href="{{ path('app_admin_lbm_ticket_blacklist_edit', {'id': blacklist.id}) }}">edit</a>

    {{ include('admin/lbm/ticket/blacklist/_delete_form.html.twig') }}
{% endblock %}
