{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Genshin Impact</li>
            <li>Carte interactive</li>
            <li><a href="{{ path('app_admin_genshin_maps') }}">Cartes</a></li>
        </ul>
    </div>

    <h1>Éditer une carte</h1>

    {{ form_start(form) }}

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.active) }}
                {{ form_label(form.active) }}
            </label>
        </div>

        <div class="grid grid-cols-4 gap-2">
            <div class="form-control">
                <label class="label">{{ form_label(form.icon) }}</label>
                {{ form_widget(form.icon) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.name) }}</label>
                {{ form_widget(form.name) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.slug) }}</label>
                {{ form_widget(form.slug) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.position) }}</label>
                {{ form_widget(form.position) }}
            </div>
        </div>

        <div class="grid grid-cols-3 gap-2">
            <div class="form-control">
                <label class="label">{{ form_label(form.zoom) }}</label>
                {{ form_widget(form.zoom) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.minZoom) }}</label>
                {{ form_widget(form.minZoom) }}
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.maxZoom) }}</label>
                {{ form_widget(form.maxZoom) }}
            </div>
        </div>

        <div class="grid grid-cols-2 gap-2">
            <div class="form-control">
                <label class="label">{{ form_label(form.bounds) }}</label>
                {{ form_widget(form.bounds) }}
                <label class="label">
                    <span class="label-text-alt">Format : <code>0,0|0,0</code></span>
                </label>
            </div>
            <div class="form-control">
                <label class="label">{{ form_label(form.center) }}</label>
                {{ form_widget(form.center) }}
                <label class="label">
                    <span class="label-text-alt">Format : <code>0,0</code></span>
                </label>
            </div>
        </div>

        <div class="form-control">
            <label class="label">{{ form_label(form.tiles) }}</label>
            {{ form_widget(form.tiles) }}
        </div>

        <div class="mt-4">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}

{% endblock %}

