{% extends 'admin.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table rounded-lg shadow w-full my-4">
        <tbody>
            <tr>
                <th width="1">#</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Nom de compte</th>
                <td>{{ ticket.accountName }}</td>
            </tr>
            <tr>
                <th>Accès</th>
                <td>{{ ticket.accountAccess ? ticket.accountAccess|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ ticket.accountCreated|format_datetime('long', 'short')}}</td>
            </tr>
            <tr>
                <th>Guildes</th>
                <td>{{ ticket.accountGuilds ? ticket.accountGuilds|join(', ') : '' }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Adresse e-mail</th>
                    <td><a href="mailto:{{ ticket.email }}">{{ ticket.email }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Notification envoyée</th>
                <td>{{ ticket.emailSent ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Création du ticket [C]</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|format_datetime('long', 'short') : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Mise à jour du ticket [U]</th>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|format_datetime('long', 'short') : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ('LBM.Ticket.'~ticket.status)|trans }}</td>
            </tr>
        </tbody>
    </table>

    <div class="flex gap-4 justify-between mb-4">
        <span></span>
        <a href="{{ path('app_admin_lbm_ticket_ticket_index') }}" class="btn btn-outline">Retourner à la liste</a>
    </div>

    {{ include('admin/lbm/ticket/ticket/_delete_form.html.twig') }}
{% endblock %}
