<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
    {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
    <header class="container mx-auto navbar bg-base-100 shadow rounded-lg mb-6">
        <div class="flex-1">
            <a href="{{ path('app_admin_homepage') }}" class="btn btn-ghost normal-case text-xl">Le Bus Magique</a>
        </div>
        <div class="flex-none gap-2">
            <a  href="{{ path('app_admin_logout') }}" class="avatar online placeholder">
                <div class="bg-neutral-focus text-neutral-content uppercase text-sm font-semibold rounded-full w-10">
                    <span>{{ app.user.nickname[:3] }}</span>
                </div>
            </a>
        </div>
    </header>
    {% endif %}
    {% if(is_granted('ROLE_ADMIN')) %}
    <div class="container mx-auto mb-6 gap-6 flex">
        <div class="w-56 z-50">
            <ul class="menu bg-base-100 w-full p-2 rounded-lg shadow">
                <li class="menu-title">
                    <span>Le Bus Magique</span>
                </li>
                <li>
                    <a href="#!">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                        </svg>
                        Calendrier
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_admin_users') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                        </svg>
                        Utilisateurs
                    </a>
                </li>
                <li class="menu-title">
                    <span>Guild Wars 2</span>
                </li>
                <li>
                    <a href="#!">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                        </svg>
                        Builds
                    </a>
                </li>
                <li tabindex="0">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                        </svg>
                      Carte interactive
                    </span>
                    <ul class="rounded-box p-2 bg-base-100 shadow">
                        <li><a>Marqueurs</a></li>
                        <li><a>Maîtrises</a></li>
                        <li><a>Icônes</a></li>
                        <li><a>Catégories</a></li>
                        <li><a>Groupes</a></li>
                    </ul>
                </li>
                <li tabindex="0">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>
                        Événements
                    </span>
                    <ul class="rounded-box p-2 bg-base-100 shadow">
                        <li><a>Tous les événements</a></li>
                        <li><a>Statistiques</a></li>
                    </ul>
                </li>
                <li tabindex="0">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                        </svg>
                        Objets
                    </span>
                    <ul class="rounded-box p-2 bg-base-100 shadow">
                        <li><a href="{{ path('app_admin_gw2_items') }}">Tous les objets</a></li>
                        <li><a>Forge mystique</a></li>
                        <li><a href="{{ path('app_admin_gw2_items', {is: 'blackmarket'}) }}">Black market</a></li>
                    </ul>
                </li>
                <li tabindex="0">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 9l6-6m0 0l6 6m-6-6v12a6 6 0 01-12 0v-3" />
                        </svg>
                        Pêche
                    </span>
                    <ul class="rounded-box p-2 bg-base-100 shadow">
                        <li><a href="{{ path('app_admin_gw2_items', {is: 'fish'}) }}">Poissons</a></li>
                        <li><a href="{{ path('app_admin_gw2_items', {is: 'fish-bait'}) }}">Appâts</a></li>
                        <li><a href="{{ path('app_admin_gw2_fish_achievements') }}">Succès</a></li>
                        <li><a href="{{ path('app_admin_gw2_fish_maps') }}">Cartes</a></li>
                        <li><a href="{{ path('app_admin_gw2_fish_holes') }}">Zones</a></li>
                    </ul>
                </li>
                <li tabindex="0">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                        </svg>
                        Univers
                    </span>
                    <ul class="rounded-box p-2 bg-base-100 shadow">
                        <li><a>Chroniques</a></li>
                        <li><a>Créateurs</a></li>
                        <li><a>Histoires</a></li>
                        <li><a>Personnages</a></li>
                        <li><a>Régions</a></li>
                        <li><a>Vidéos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="flex-1">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer footer-center p-10 text-gray-400">
        <div>
            <p class="font-bold">Le Bus Magique</p>
            <p>Copyright © {{'now'|date('Y')}} - Tous droits réservés</p>
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}

</body>
</html>