<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Le Bus Magique{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
{#<body class="bg-black sm:bg-red-500 md:bg-green-500 lg:bg-blue-500 xl:bg-yellow-500 2xl:bg-teal-500">#}
<body>
    {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
    <header class="container mx-auto navbar bg-base-100 shadow rounded-lg mb-6">
        <div class="flex-none lg:hidden">
            <button class="btn btn-square btn-ghost" id="menu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </button>
        </div>
        <div class="flex-1">
            <a href="{{ path('app_admin_homepage') }}" class="btn btn-ghost normal-case text-xl">Le Bus Magique</a>
        </div>
        <div class="flex-none gap-2">
            <a  href="{{ path('app_admin_logout') }}" class="avatar online placeholder">
                <div class="bg-neutral-focus text-neutral-content uppercase text-sm font-semibold rounded-full w-10">
                    <span>{{ app.user.nickname[:3] }}</span>
                </div>
            </a>
        </div>
    </header>
    {% endif %}
    {% if is_granted('ROLE_MANAGER') %}
    <div class="container mx-auto mb-6 gap-6 flex relative">
        <div class="hidden lg:block w-48 z-50 flex-shrink-0 absolute lg:relative -top-4 lg:top-0" id="menu">
            <ul class="menu menu-compact bg-base-100 w-full p-2 rounded-lg shadow sticky top-4">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-title">
                        <span>Le Bus Magique</span>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                            </svg>
                            Tickets
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_lbm_tickets_requests') }}">Demandes</a></li>
                            <li><a href="{{ path('app_admin_lbm_tickets_validate') }}">Compostages</a></li>
                            <li><a href="{{ path('app_admin_lbm_tickets_blacklist') }}">Blacklist</a></li>
                            <li><a href="{{ path('app_admin_lbm_tickets_guilds') }}">Guildes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_users') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                            </svg>
                            Utilisateurs
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_GW2') %}
                    <li class="menu-title">
                        <span>Guild Wars 2</span>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_gw2_wizard_vault_objectives') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            Chambre forte
                        </a>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                            </svg>
                            Objets
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_gw2_items') }}">Tous les objets</a></li>
                            <li><a>Forge mystique</a></li>
                            <li><a href="{{ path('app_admin_gw2_items', {is: 'blackmarket'}) }}">Black market</a></li>
                        </ul>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9 9l6-6m0 0l6 6m-6-6v12a6 6 0 01-12 0v-3" />
                            </svg>
                            Pêche
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_gw2_fish_dailies') }}">Quotidiens</a></li>
                            <li><a href="{{ path('app_admin_gw2_items', {is: 'fish'}) }}">Poissons</a></li>
                            <li><a href="{{ path('app_admin_gw2_items', {is: 'fish-bait'}) }}">Appâts</a></li>
                            <li><a href="{{ path('app_admin_gw2_fish_achievements') }}">Succès</a></li>
                            <li><a href="{{ path('app_admin_gw2_fish_maps') }}">Cartes</a></li>
                            <li><a href="{{ path('app_admin_gw2_fish_holes') }}">Zones</a></li>
                            <li><a href="{{ path('app_admin_gw2_fish_time') }}">Horaires</a></li>
                        </ul>
                    </li>
                    <li tabindex="0">
                        <span>
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>
                            Options
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_gw2_expansions') }}">Extensions</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ENSHROUDED') %}
                    <li class="menu-title">
                        <span>Enshrouded</span>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                          Carte interactive
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_enshrouded_map_category_index') }}">Catégories</a></li>
                            <li><a href="{{ path('app_admin_enshrouded_map_marker_index') }}">Marqueurs</a></li>
                            <li><a href="{{ path('app_admin_enshrouded_map_icon_index') }}">Icônes</a></li>
                        </ul>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                            </svg>
                            Objets
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_enshrouded_item_index') }}">Tous les objets</a></li>
                            <li><a href="{{ path('app_admin_enshrouded_item_category_index') }}">Catégories</a></li>
                        </ul>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z" />
                            </svg>
                            Recettes
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_enshrouded_recipe_index') }}">Toutes les recettes</a></li>
                            <li><a href="{{ path('app_admin_enshrouded_recipe_category_index') }}">Catégories</a></li>
                            <li><a href="{{ path('app_admin_enshrouded_recipe_source_index') }}">Sources</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_enshrouded_npc_index') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                            Personnages
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_GENSHIN') %}
                    <li class="menu-title">
                        <span>Genshin Impact</span>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                          Carte interactive
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_genshin_maps') }}">Cartes</a></li>
                            <li><a href="{{ path('app_admin_genshin_maps_sections') }}">Sections</a></li>
                            <li><a href="{{ path('app_admin_genshin_maps_groups') }}">Groupes</a></li>
                            <li><a href="{{ path('app_admin_genshin_maps_markers') }}">Marqueurs</a></li>
                            <li><a href="{{ path('app_admin_genshin_maps_icons') }}">Icônes</a></li>
                            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_genshin_maps_markers_import') }}">Importer</a></li>{% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_PALIA') %}
                    <li class="menu-title">
                        <span>Palia</span>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                            </svg>
                            Objets
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_palia_items') }}">Tous les objets</a></li>
                            <li><a href="{{ path('app_admin_palia_items_categories') }}">Catégories</a></li>
                        </ul>
                    </li>
                    <li tabindex="0">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>
                            Options
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_palia_skills') }}">Compétences</a></li>
                            <li><a href="{{ path('app_admin_palia_locations') }}">Localisations</a></li>
                            <li><a href="{{ path('app_admin_palia_currencies') }}">Monnaies</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                            Personnages
                        </span>
                        <ul class="rounded-box p-2 bg-base-100 shadow">
                            <li><a href="{{ path('app_admin_palia_characters') }}">Tous les personnages</a></li>
                            <li><a href="{{ path('app_admin_palia_characters_groups') }}">Groupes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_palia_recipes') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z" />
                            </svg>
                            Recettes
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="flex-1">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} shadow-lg mb-4">
                        <div>
                            {% if label == 'success' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                            {% elseif label == 'warning' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                            {% elseif label == 'error' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                            {% endif %}
                            <span>{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer footer-center p-10 text-gray-400">
        <div>
            <p class="font-bold">Le Bus Magique</p>
            <p>Copyright © {{'now'|date('Y')}} - Tous droits réservés</p>
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}

</body>
</html>