{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Genshin Impact</li>
            <li>Carte interactive</li>
            <li><a href="{{ path('app_admin_genshin_maps_sections') }}">Sections</a></li>
        </ul>
    </div>

    <h1>Éditer une section</h1>

    {{ form_start(form) }}

        <div class="form-control">
            <label class="cursor-pointer label justify-start gap-2">
                {{ form_widget(form.active) }}
                {{ form_label(form.active) }}
            </label>
        </div>

        <div class="form-control">
            <label class="label">{{ form_label(form.map) }}</label>
            {{ form_widget(form.map) }}
        </div>
        <div class="form-control">
            <label class="label">{{ form_label(form.name) }}</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-control">
            <label class="label">{{ form_label(form.position) }}</label>
            {{ form_widget(form.position) }}
        </div>

        <div class="mt-4">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}

{% endblock %}

