{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Genshin Impact</li>
            <li>Carte interactive</li>
            <li><a href="{{ path('app_admin_genshin_maps_sections') }}">Sections</a></li>
            <li>Organiser</li>
        </ul>
    </div>

    <div class="flex justify-between items-center gap-4 mb-4">
        <h1 class="mb-0">Organiser la section&nbsp;: {{ section.name }} ({{ section.map.name }})</h1>
    </div>

    <form action="{{ path('app_admin_genshin_maps_section_order', {id: section.id}) }}" method="post" id="page-sort">
        <div id="sortable" class="flex flex-col gap-2 my-4">
            {% for group in groups %}
                <div draggable="true" class="w-full rounded-lg py-3 px-4 bg-white shadow flex gap-2 items-center cursor-ns-resize">
                    <img src="{{ vich_uploader_asset(group.icon) }}" alt="" class="h-6 w-6">
                    <span class="font-semibold">{{ group.title }}</span>
                    <input type="hidden" name="group[]" value="{{ group.id }}">
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

{% endblock %}