{% extends 'admin.html.twig' %}

{% block body %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li>Genshin Impact</li>
            <li>Carte interactive</li>
            <li>Marqueurs</li>
        </ul>
    </div>

    <div class="mb-4">
        <h1 class="mb-4">Marqueurs</h1>
        <div class="flex flex-wrap xl:flex-nowrap w-full items-center justify-between">
            <form class="flex flex-wrap md:flex-nowrap gap-2 items-center mb-4 xl:mb-0" autocomplete="off">
                <input type="text" class="input input-bordered input-sm" placeholder="Chercher..." name="query" value="{{ filters.query }}">
                <select name="group" id="" class="select select-bordered select-sm" style="max-width: 8rem;">
                    <option value="">-- Groupe --</option>
                    {% for map in maps %}
                        <optgroup label="{{ map.name }}">
                            {% for id, title in map.groups %}
                                <option value="{{ id }}" {% if filters.group == id %}selected{% endif %}>{{ title }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <select name="format" id="" class="select select-bordered select-sm">
                    <option value="">-- Format --</option>
                    {% for f in ['todo', 'image', 'video', 'popup', 'banner', 'region', 'simple'] %}
                        <option value="{{ f }}" {% if filters.format == f %}selected{% endif %}>{{ f|capitalize }}</option>
                    {% endfor %}
                </select>
                <select name="active" id="" class="select select-bordered select-sm">
                    <option value="">-- Statut --</option>
                    <option value="-1" {% if filters.active < 0 %}selected{% endif %}>Inactif</option>
                    <option value="1"  {% if filters.active > 0 %}selected{% endif %}>Actif</option>
                </select>
                <button type="submit" class="btn btn-secondary btn-sm">Filtrer</button>
                {% if filters.query or filters.group or filters.format or filters.active %}
                    <a href="{{ path('app_admin_genshin_maps_markers') }}" class="btn btn-secondary btn-outline btn-square btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                        </svg>
                    </a>
                {% endif %}
            </form>
            <div class="">
                <form method="get" action="{{ path('app_admin_genshin_maps_marker_edit') }}" class="flex gap-2 items-center">
                    <select name="group" class="select select-bordered select-sm" style="max-width: 8rem;" required>
                        <option value="" selected disabled>-- Groupe --</option>
                        {% for map in maps %}
                            <optgroup label="{{ map.name }}">
                                {% for id, title in map.groups %}
                                    <option value="{{ id }}">{{ title }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm">Ajouter</button>
                </form>
            </div>
        </div>
    </div>

<div class="overflow-x-auto">
    <table class="table rounded-lg shadow w-full">
        <thead>
        <tr>
            <th width="1" class="text-center">#</th>
            <th>Marqueur</th>
            <th class="text-center">Format</th>
            <th class="text-center">Active</th>
            <th width="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for marker in markers %}
            <tr>
                <td class="text-center">{{ marker.id }}</td>
                <td>
                    <div class="flex items-center space-x-4">
                        <div class="avatar">
                            <div class="rounded bg-primary w-8 md:w-12 h-8 md:h-12">
                                <img src="{{ (marker.icon) ? vich_uploader_asset(marker.icon) : vich_uploader_asset(marker.markerGroup.icon) }}" class="p-2" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold truncate">{{ marker.title }}</div>
                            <div class="hidden md:block">
                                <span class="badge badge-sm badge-primary">{{ marker.markerGroup.section.map.name }}</span>
                                <span class="badge badge-sm badge-secondary">{{ marker.markerGroup.section.name }}</span>
                                <span class="badge badge-sm">{{ marker.markerGroup.title }}</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    {% set format = (marker.format) ? marker.format : marker.markerGroup.format %}
                    {% if format in ['image', 'banner', 'gif'] %}
                        {% if marker.imageName %}
                            <span class="btn btn-success btn-outline btn-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                                {{ format }}
                            </span>
                        {% else %}
                            <span class="btn btn-error btn-outline btn-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                </svg>
                                {{ format }}
                            </span>
                        {% endif %}
                    {% elseif format == 'video' %}
                        {% if marker.video %}
                            <span class="btn btn-success btn-outline btn-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                                {{ format }}
                            </span>
                        {% else %}
                            <span class="btn btn-error btn-outline btn-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                </svg>
                                {{ format }}
                            </span>
                        {% endif %}
                    {% elseif format == 'todo' %}
                        <span class="btn btn-warning btn-outline btn-xs">{{ format }}</span>
                    {% else %}
                        <span class="btn btn-info btn-outline btn-xs">{{ format }}</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if marker.active %}
                        <span class="badge badge-success">Actif</span>
                    {% else %}
                        <span class="badge badge-error">Inactif</span>
                    {% endif %}
                </td>
                <td>
                    <div class="flex gap-3">
                        <a href="{{ path('app_admin_genshin_maps_marker_edit', {id: marker.id}) }}" class="btn btn-sm btn-primary btn-outline btn-square">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                            </svg>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_admin_genshin_maps_marker_delete', {id: marker.id}) }}" class="btn btn-sm btn-secondary btn-outline btn-square">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucun marqueur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {{ knp_pagination_render(markers) }}
{% endblock %}
